* {
    box-sizing: border-box;
}

:root{

}

body {
    font-family: Arial, Helvetica, sans-serif ;
    margin: 2%;
    background-color: #838080;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(88, 107, 70);
    
    
}

h1 {
    color: rgb(36, 43, 30);
    margin: 5%;   
}

li {
    display: inline;
}

/* *!*!*!*!* CLASS SELECTORS BELOW THIS LINE *!*!*!*!* */

.featured {
    display: flex;
    max-width: 100%
}

.ilink {
  
}